

{% extends 'myapp/base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">My Products</h2>
    <a href="{% url 'product_create' %}" class="btn btn-success">+ Add Product</a>
</div>


<!-- Search + Category Filter -->
<form method="GET" class="mb-4">

    <div class="d-flex gap-2 flex-wrap">

        <!-- Search -->
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Search products..."
               value="{{ request.GET.q }}"
               style="max-width: 300px;">

        <!-- Category -->
        <select name="category" class="form-select" style="max-width: 200px;">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <!-- Sort -->
        <select name="sort" class="form-select" style="max-width: 200px;">
            <option value="">Sort By</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="price_low">Price: Low → High</option>
            <option value="price_high">Price: High → Low</option>
            <option value="stock_low">Stock: Low → High</option>
            <option value="stock_high">Stock: High → Low</option>
        </select>

        <!-- Button -->
        <button class="btn btn-primary">
            Search
        </button>

    </div>

</form>

<div class="row">

    {% for product in products %}
    <div class="col-md-4 mb-4">

        <div class="card h-100 shadow-sm">

            <!-- Image -->
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
            {% else %}
                <div class="d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                    <span class="text-muted">No Image</span>
                </div>
            {% endif %}

            <div class="card-body">

                <h5 class="card-title">{{ product.name }}</h5>

                {% if product.category %}

<span class="badge bg-primary mb-2">
    {{ product.category.name }}
</span>

{% else %}

<span class="badge bg-secondary mb-2">
    No Category
</span>

{% endif %}

                <h6 class="text-success">${{ product.price }}</h6>

                <p class="mb-1">
                   <strong>Stock:</strong> {{ product.stock }}
                </p>
                {% if product.stock == 0 %}
                <span class="badge bg-danger">Out of Stock</span>

                {% elif product.stock <= 5%}
                <span class="badge bg-warning text-dark">Low Stock</span>

                {% else %}
                <span class="badge bg-success">In Stock</span>

                {% endif %}

                <p class="card-text mt-2">
                    {{ product.description|truncatechars:60 }}
                </p>

                <small class= "text-muted">
                    Added: {{product.created_at|date:"M d, Y"}}
                </small>

            </div>

            <!-- Actions -->
            <div class="card-footer text-center">
                <a href="{% url 'product_update' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'product_delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>

        </div>

    </div>

    {% empty %}
        <div class="text-center">
            <h5>No products yet 😢</h5>
            <a href="{% url 'product_create' %}" class="btn btn-success">Add Product</a>
        </div>
    {% endfor %}

</div>

{% endblock %}

